<div class="col-xs-6 col-sm-3 placeholder">
    <div class="info-box">
        <span class="info-box-icon {{tiles.info.background}}">
            <i class="fa" ng-class="tiles.info.icon" aria-hidden="true"></i>
        </span>
        <div class="info-box-content">
            <span class="info-box-text">{{tiles.info.label}}</span>
            <span class="info-box-number">{{tiles.info.progress}}</span>
        </div>
    </div>
</div>
<!--<div class="col-xs-6 col-sm-3 placeholder">
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive img-circle"
        alt="Generic placeholder thumbnail">
    <h4>Label</h4>
    <span class="text-muted">Something else</span>
</div>
<div class="col-xs-6 col-sm-3 placeholder">
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive img-circle"
        alt="Generic placeholder thumbnail">
    <h4>Label</h4>
    <span class="text-muted">Something else</span>
</div>
<div class="col-xs-6 col-sm-3 placeholder">
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive img-circle"
        alt="Generic placeholder thumbnail">
    <h4>Label</h4>
    <span class="text-muted">Something else</span>
</div>-->