.img-circle {
    border-radius: 50px;
}
.bind-to-navbar {
    margin-top: -20px;
}
.main-sidebar {
  background-color: #222d32
}
.align-sidebar {
    margin-left: 15px;
}
.user-panel {
    padding: 10px;
}
.user-panel > .info {
    color: #fff;
    padding: 5px;
    line-height: 20px;
    position: absolute;
    left: 70px;
    top: 20px;
}
.user-panel > .info > p {
    font-weight: 600;
    line-height: 1px;
}
.info > a {
    color: #fff;
    font-size: 11px;
}
.align-bottom {
    margin-bottom: 5px;
}
.sidebar-form {
    margin: 50px 10px;
    border: 1px solid #374850;
    border-radius: 3px;
}
.sidebar-form input[type="text"] {
        /* color: #666; */
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
}
.sidebar-form input[type="text"], .sidebar-form .btn {
    box-shadow: none;
    background-color: #374850;
    border: 1px solid transparent;
    height: 35px;
}
.sidebar-form input[type="text"]:focus, .sidebar-form input[type="text"]:focus+.input-group-btn .btn {
    background-color: #fff;
    color: #666;
}
