<ul class="nav navbar-nav navbar-right acme-navbar-text">
     <notification-email-list></notification-email-list>
     <notification-list></notification-list>
     <notification-task-list></notification-task-list>
    <li class="dropdown" uib-dropdown>
        <a ng-href="#" class="dropdown-toggle" uib-dropdown-toggle>
            <i class="fa fa-user" aria-hidden="true"></i> Welcome, Gaurav Soni
            <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
        </a>
        <ul class="dropdown-menu" uib-dropdown-menu>
            <li><a href="#">My Profile</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
    </li>
</ul>